<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main>
      {% include navbar.html %}
      {% include header.html %} 
      <section class="articles">
        {% for entry in site.entries %}
        <article class="article">
          <h2 class="article-title">
            <a href="{{site.baseurl}}{{entry.url}}"> {{entry.title}} </a>
          </h2>
          <small class="date">{{entry.date | date_to_string}}</small>
          <div class="categories">
          </div>
        </article>
        {%endfor%}
      </section>
      <!-- {% include footer.html %} -->
    </main>

  </body>
</html>
